<%- include('../../partials/header.ejs')  %> 
<%- include('../../partials/navbar-home.ejs')  %> 

<h1 class="text-white my-5 text-center">DevBlog</h1>
<div class="container ">
    <div class="row position-relative">
        <% result.articles.rows.forEach(article => { %>
            <a href="/<%= article.slug %> " class="article">
                <div class="d-flex justify-content-between">
                    <p class="tag tag-primary"><%= article.category.title %> </p>
                </div>
                <h3><%= article.title %> </h3>
                <p class="subtitle"><%- article.subtitle %> </p>
                <div class="d-flex">
                    <p class="tag tag-secondary">
                        <% 
                            var date = new Date(article.createdAt);
                            var options = { year: 'numeric', month: 'numeric', day: 'numeric' };
                            var dateString = date.toLocaleDateString('pt-BR', options);
                        %>
                        <%= dateString %> 
                    </p>
                    <p class="tag tag-secondary"><%= (article.body.split('').length / 200).toPrecision(1) %> minutos </p>
                </div>
            </a>
        <% }) %>
    </div>

    <div class="my-5 pb-5">
        <% if(result.page > 2) { %> 
            <a href="/articles/page/<%= result.page - 1 %>" class="btn btn-lg btn-light float-start bg-green fw-bold">
                <i class="fa-solid fa-chevron-left"></i>
                anterior
            </a>
        <% } else if(result.page == 2) {%>
            <a href="/" class="btn btn-lg btn-light float-start bg-green fw-bold">
                <i class="fa-solid fa-chevron-left fw-bold me-2"></i>
                anterior
            </a>
        <% } %>
        <% if(result.next) { %> 
            <a href="/articles/page/<%= result.page + 1 %> " class="btn btn-lg btn-light float-end bg-green fw-bold">
                próximo
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        <% } %>
    </div>
</div>


<%- include('../../partials/footer.ejs')  %> 