<%- include('partials/header.ejs')  %> 
<%- include('partials/navbar-home.ejs')  %> 


<div class="container">

    <div class="banner">
        <h1 class="mt-4">Artigos de: <strong><%= category.title %> </strong></h1>
    </div>


    <div class="d-flex articles flex-wrap position-relative mb-5 pb-5">
        <% articles.forEach(article => { %>
            <a href="/<%= article.slug %> " class="article">

                <h3><%= article.title %> </h3>
                <p class="subtitle"><%- article.subtitle %> </p>
                <div class="d-flex">
                    <p class="tag tag-secondary">
                        <% 
                            var date = new Date(article.createdAt);
                            var options = { year: 'numeric', month: 'numeric', day: 'numeric' };
                            var dateString = date.toLocaleDateString('pt-BR', options);
                        %>
                        <%= dateString %> 
                    </p>
                    <p class="tag tag-secondary"><%= (article.body.split('').length / 200).toPrecision(1) %> minutos </p>
                </div>
            </a>
        <% }) %>
    </div>

</div>


<%- include('partials/footer.ejs')  %> 