<%- include('partials/header.ejs')  %> 
<%- include('partials/navbar-home.ejs')  %> 
<div class="banner">
    <h1>DevBlog</h1>
    <h2>A place to share your knowledge</h2>
    <img src="/img/banner2.0.png" alt="">
</div>
<div class="container ">
    <div class="row position-relative">
        <% articles.forEach(article => { %>
            <a href="/<%= article.slug %> " class="article">
                <div class="d-flex justify-content-between">
                    <p><%= article.category.title %> </p>
                    <p>
                        <% 
                            var date = new Date(article.createdAt);
                            var options = { year: 'numeric', month: 'numeric', day: 'numeric' };
                            var dateString = date.toLocaleDateString('pt-BR', options);
                        %>
                        <%= dateString %> 
                    </p>
                </div>
                <h3><%= article.title %> </h3>
                <!-- <p><%- article.body %> </p> -->
            </a>
        <% }) %>
    </div>
    <div class="py-5">
        <a href="/articles/page/2" class="btn btn-light float-end">
            Próximo
            <i class="fa-solid fa-chevron-right ms-2"></i>
        </a>
    </div>
    <!-- <img class="hand-background" src="/img/hand.png" alt=""> -->
</div>


<%- include('partials/footer.ejs')  %> 